<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-6 mx-auto">
                    <form class="bg-gray-100">
                        <div class="row">
                            <div class="col-6">
                                <p>資料編號：{{item.ID}}</p>
                                <span v-if="item.isValid != true">已刪除</span>
                                <div class="form-group">
                                    <label>職稱：</label>
                                    <input class="form-control" v-model="item.title">
                                </div>
                                <div class="form-group">
                                    <label>姓名：</label>
                                    <input class="form-control" v-model="item.name">
                                </div>
                                <div class="form-group">
                                    <label>Phone：</label>
                                    <input class="form-control" v-model="item.Phone">
                                </div>
                            </div>
                            <!-- <div class="col-6">
                                <img v-bind:src="item.PictureURL">
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label>Address</label>
                                <input class="form-control" v-model="item.Address">
                            </div>
                            <div class="col-12 form-group">
                                <label>Memo</label>
                                <input class="form-control" v-model="item.Memo">
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-primary ml-3" v-on:click="pre">上一頁</button>
                            <button v-if="item.isValid" type="button" class="btn btn-primary ml-3" v-on:click="deletedata(item)">刪除</button>
                            <button v-else type="button" class="btn btn-primary ml-3" v-on:click="reset(item)">救回</button>
                            <button type="button" class="btn btn-primary ml-3" v-on:click="next">下一頁</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var vm;
        var json;
        var json1 = {
            "ID": 3,
            "title": "總裁", "name": "Eric", "PictureURL": "https://i.imgur.com/uxvy97n.png", "Phone": "0912345678",
            "Address": "新竹市大同區二三五路四號六樓",
            "Memo": "澳洲來的人", "isValid": true
        };
        var json2 = {
            "ID": 4,
            "title": "瑪農", "name": "David", "PictureURL": "https://i.imgur.com/qsQcoGh.png", "Phone": "0987654321",
            "Address": "台北市信義區忠孝東路231號3樓",
            "Memo": "充滿活力的廉價勞工", "isValid": true
        };

        var json3 = {
            "ID": 5,
            "title": "Boss", "name": "Amy", "PictureURL": "https://i.imgur.com/dfww1JX.png", "Phone": "0912121121",
            "Address": "高雄市仁義區六六路3號23樓",
            "Memo": "小資女", "isValid": false
        };

        json = [json1, json2, json3];
        var currentitem = json[0];

        function binding() {
            vm = new Vue({
                el: "#app",
                data:{
                    "item":json[0]
                },
                methods: {
                    pre() {
                        var index = json.indexOf(vm.item);
                        if (index > 0) {
                            vm.item = json[index-1];
                        }
                    },
                    next() {
                        var index = json.indexOf(vm.item);
                        if (index < 2) {
                            vm.item = json[index+1];
                        }
                    },
                    deletedata() {
                        console.log(vm.item);
                        vm.item.isValid = false;
                        console.log(vm.item);
                    },
                    reset() {
                        console.log(vm.item);
                        vm.item.isValid = true;
                        console.log(vm.item);
                    }
                }
            })
        }

        $(function () {
            binding();


        });

    </script>

</body>

</html>